@font-face {
    font-family: 'Roboto';
    src:url(../fonts/roboto-medium-webfont.ttf) format('ttf'), 
        url(../fonts/roboto-medium-webfont.woff) format('woff'),
        url(../fonts/roboto-medium-webfont.eot) format('eot'),
        url(../fonts/roboto-medium-webfont.woff2) format('woff2')
  }
a{
    text-decoration: none;
}
*{
    font-family: 'Roboto';
}
body{
    margin: 0px;
}
/*header style*/
header{
    padding-top: 30px;
    position:fixed;
    width: 100%;
}
.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
.header__burger{
    display: none;
}
.logo{
    color: #62D0DF;
    font-size: 24px;
    font-weight: bold;
}
.header__button{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #62D0DF;
    color: white;
    border-radius: 30px;
}
.header__menu{
    text-align: center;
}
.header__menu a{
    color: #22356F;
    font-size: 14px;
    padding: 10px;
}
.homePage{
    background-image: url(../img/HomePageBG.jpg);
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 240px;
}
.homePage h3{
    width: 50%;
    color: #22356F;
    font-size: 48px;
    text-transform: uppercase;
}
.homePage p{
    width: 46%;
    color: #22356F;
    font-size: 24px;
    line-height: 42px;
}
.homePage__buttonBox{
    padding-top: 60px;
}
.homePage__buttonBox a{
    font-size: 16px;
    color: #FAB63E;  
    text-transform: uppercase;
    padding: 10px 30px;
}
.homePage__button:hover{
    background-color: #FAB63E;
    color: #ffffff;
}
@media screen and (max-width: 1100px){
    .container{
        width: 800px;
    }
}
@media screen and (max-width: 800px){
 .container{
     width: 600px;
 }
}
@media screen and (max-width: 800px){
    .container{
        width: 100%;
    }
    .header__logo{
        display: none;
    }
    
   }
   @media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .header__content{
        flex-direction: column;
    }
    .header__menu{
        width: 100%;
        justify-content: space-between;
    }
   }