@font-face {
    font-family: 'Roboto';
    src:url(../fonts/roboto-medium-webfont.ttf) format('ttf'), 
        url(../fonts/roboto-medium-webfont.woff) format('woff'),
        url(../fonts/roboto-medium-webfont.eot) format('eot'),
        url(../fonts/roboto-medium-webfont.woff2) format('woff2')
  }
a{
    text-decoration: none;
}
*{
    font-family: 'Roboto';
    margin: 0;
}
body{
    margin: 0px;
}
/*header style*/
header{
    padding-top: 30px;
    position:fixed;
    width: 100vw;
    box-sizing: border-box;
}
.header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
.header__burger{
    display: none;
}
.logo{
    color: #62D0DF;
    font-size: 24px;
    font-weight: bold;
}
.header__button{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #62D0DF;
    color: white;
    border-radius: 30px;
}
.header__menu{
    text-align: center;
}
.header__menu a{
    color: #22356F;
    font-size: 14px;
    padding: 10px;
}
.homePage{
    padding-top: 200px;
    background-image: url(../img/HomePageBG.jpg);
    background-repeat: no-repeat;
}
.homePage h3{
    padding-top: 30px;
    width: 50%;
    color: #22356F;
    font-size: 48px;
    text-transform: uppercase;
}
.homePage p{
    padding-top: 40px;
    width: 46%;
    color: #22356F;
    font-size: 24px;
    line-height: 42px;
}
.homePage__buttonBox{
    padding-top: 60px;
    padding-bottom: 200px;
}
.homePage__buttonBox a{
    font-size: 16px;
    color: #FAB63E;  
    text-transform: uppercase;
    padding: 10px 30px;
}
.homePage__button:hover{
    background-color: #FAB63E;
    color: #ffffff;
}
.thrive{
    background-image: url(../img/ThriveBg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100%;
}
.thrive__content h5{
    font-size: 36px;
    color: #ffffff;
    padding-top: 150px;
    padding-bottom: 75px;
}
.thrive__content p{
    width: 53%;
    font-size: 24px;
    color: #fff;
    line-height: 36px;
}

.about__content{
   display: flex;
   flex-direction: row;
}
.about__content span{
    color: #22356F;
    font-size: 16px;
    text-transform: uppercase;
    width: 102px;
    padding-top: 156px;
    padding-left: 156px;
}
.about__content p{
    font-size: 24px;
    line-height: 33px;
    padding-top: 156px;
    padding-left: 256px;
    max-width: 31%;
}
.about__bottomContent{
    color: #22356F80;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    padding-top: 76px;
}

.kindSport__smallBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: blue;
}
.kindSport__bigBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: blue;
}
.kindSport__smallBox-item{
    position: relative;
    flex-grow: 1;
    padding-top: 72px;
    padding-bottom: 210px;
}
.kindSport__bigBox-item{
    width: 33%;
    position: relative;
    flex-grow: 1;
    padding-top: 105px;
    padding-bottom: 210px;
    align-items: center;
}

.kindSport__dot{
    color: #E9B730;
    font-size: 50px;
}
.kindSport__boxContent{
    width: 45%;
    display: inline-block;
    border-top: 1px solid #ffffff;
}
.kindSport__sportName{
    font-size: 32px;
    color: #ffffff;
    margin-top: 95px;
}
@media screen and (max-width: 1520px){
    .container{
        width: 800px;
    }
}
@media screen and (max-width: 800px){
 .container{
     width: 600px;
 }
}
   @media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .header__content{
        flex-direction: column;
    }
    .header__menu{
        width: 100%;
        justify-content: space-between;
    }
   }